/* a minimalist set of CSS resets */

/* default to border-box */
html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/* adjust typography defaults */
body {
  margin: 1rem;
  font-family: sans-serif;
  line-height: 1.5;
}
/* Style the navbar */
#navbar {
  position: sticky;
  top: 0;
  overflow: hidden;
  background-color: #333333;
}

/* Navbar links */
#navbar a {
  float: right;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}
/* Intro Home Page content */
.container {
 display: grid;
 align-items:left; 
 grid-template-columns: 1fr 1fr 1fr;
 column-gap: 5px;
 font-family: "Cormorant";font-size: 48px;
  background-color:#c2d6d6;

}

p{
  display:table;
  width: 50%;
  margin:auto;
 
}

/* image on home page */
img{
  display:flex;
  padding:10px;
  width: 2.8in;
  height: 2.8in;
  border-radius:50%;
}
